doctype html
html(lang=en)
	head
		title="HMS Math Team"
		meta(charset="utf8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script(src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js")
		link(rel="stylesheet", href="/static/bootstrap/css/bootstrap.css")
		link(rel="stylesheet", href="/static/bootstrap/bootplus-responsive.css")
		link(rel="stylesheet",href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css")
		link(rel="stylesheet",href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css")
		script(src="/static/bootstrap/js/bootstrap.js")
		script(src="/static/jquery.knob.js")
		script(src="/static/css_browser_selector.js")
		link(href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic",rel="stylesheet",type="text/css")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800", rel="stylesheet",type="text/css")
		link(rel="stylesheet" href="/static/responsive.css")
		script(src="/static/edit.js")
	body
		div.modal.fade#myModal
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(type="button",data-dismiss="modal" aria-hidden="true") &times;
						h4(class="modal-title") Copy and paste an image
					div.modal-body
						h4 Created by Souvik Banerjee
						|This website is powered by node.js, expressjs, Twitter Bootstrap, jQuery, and MongoDB
						h4 License
						|All code is available under the BSD 3-clause 
						a(href="http://opensource.org/licenses/BSD-3-Clause")
							|license

					div.modal-footer
						button.btn.btn-default(type="button",data-dismiss="modal") Close
		nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
			div.navbar-header
				a.navbar-brand(href="/")
					|HMS Math Team
				
		div.container
			div.span10
				div.row-fluid
					div.list-group.span4.pre-scrollable(data-category="#{category}")#listgroup
						each datum in data
							- type = datum.type
							- content = datum.content.replace("\\plus","+")
							- answer = datum.answer
							- timelimit = datum.timelimit
							- id = datum._id
							a.list-group-item(href="#",id="#{id}" onclick="show('#{id}')",data-type="#{type}",data-content="#{content}",data-answer="#{answer}",data-timelimit="#{timelimit}" )
								h4.list-group-item-heading
									|Type: 
									normal(id="typetext-#{id}") #{type}
								p.list-group-item-text
									|Content: 
									normal(id="contenttext-#{id}") #{content}
									br
									|Answer: 
									normal(id="answertext-#{id}") #{answer}
									br
									|Time limit: 
									normal(id="timelimittext-#{id}") #{timelimit}
					div.span6
						div.alert.alert-warning#alertchoice
							strong Select a problem
						div
							div.row-fluid
								div.span6
									input(type="radio" name="options",value="Mathjax")#mathjaxInput
									|Mathjax
									br
									input(type="radio" name="options",value="Image")#imageInput
									|Image
									br
									input(type="radio" name="options",value="Image")#plaintextInput
									|Plaintext


							hr
							div
								div.input-group
									span.btn.input-group-addon(onclick="toggleModal()" disabled="disabled")#uploadbtn Upload
									input.form-control(type="text" placeholder="LaTeX or image URL")#contentinput
								input.form-control(type="text" placeholder="Answer")#answerinput
								input.form-control(type="text" placeholder="Time limit in seconds")#timelimitinput
								input.form-control.disabled(type="text" placeholder="ID" disabled="disabled")#idinput
								hr
							div.container
								div.span6
									button.btn.btn-danger.span2(type="button",onclick="del()") Delete
									button.btn.btn-info.span2.offset1(type="button",onclick="save()") Save
									button.btn.btn-success.span2.offset1(type="button",onclick="add()") New
									button.btn.btn-warning.span3.offset1(type="button",data-loading-text="Sending...", onclick="submit()")#submit-btn Save+Submit